<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Buffer Builder</title>
        <style type="text/css">

        </style>
    </head>
    <body>
        <form method="POST" action="{{ path('app_default_addbuffer') }}" id="buffer-form">
            <fieldset>
                <legend>Buffer builder</legend>
                <label for="user">User</label>
                <select name="userId" id="user">
                    <option disabled selected>Select a user</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</option>
                    {% endfor %}
                </select>
                <label for="interest">Interest</label>
                <select name="interestId" id="interest">
                    <option disabled selected>Select an interest</option>
                    {% for interest in interests %}
                    <option value="{{ interest.id }}">{{ interest.name|capitalize }}</option>
                    {% endfor %}
                </select>
                <label for="title">Title</label>
                <input id="title" type="text" name="title" placeholder="How to earn half a million a week" />
                <label for="datetime">Date</label>
                <input type="datetime" name="date" placeholder="Date" id="datetime" />
                <label for="body">Body</label>
                <textarea id="body" placeholder="Start off by creating a company in education, then trick the parents for cha-ching cha-ching!" name="body"></textarea>
                <input type="submit" value="Add post" />
            </fieldset>
        </form>
        <div id="buffer">
            <h4>Current buffer</h4>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody id="buffer-body">
                </tbody>
            </table>
        </div>
        <script src="{{ asset('js/buffer.js') }}"></script>
    </body>
</html>